[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
requests = "*"
python-dateutil = "*"
pyyaml = "*"
xmltodict = "*"
textile = "*"
markdown = "*"
cvss = "*"

[requires]
python_version = "3.11"
